.flash-container {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.flash {
  color: var(--light-shades);
  width: 60%;
  min-width: fit-content;
  border-radius: 3px;
  text-align: center;
  position: relative;
}

.error {
  background-color: var(--red);
}

.dismiss {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  border: none;
  color: var(--light-shades);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.dismiss:hover {
  transform: scale(1.25);
}