main {
  margin: 0 auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 130px -50px var(--qwik-light-purple);
  overflow: hidden;
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
  max-width: 1340px;
  align-content: flex-start;
}

@media (max-width: 800px) {
  main {
    grid-template-columns: 1fr;
  }
}