.print-picker {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.crop-zone {
  position: relative;
  display: flex;
  max-width: min-content;
}

img {
  max-width: 500px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: min-content;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.overlay img {
  cursor: move;
}

.print-options {
  margin: 1rem;
  display: inline-block;
}

.print-option {
  display: inline-block;
  margin-right: 1rem;
  border: 1px solid black;
  cursor: pointer;
}

.print-preview canvas {
  border: 1px solid black;
}

.rotate {
  margin-bottom: 1rem;
}

.controls {
  display: flex;
  flex-direction: column;
  max-width: min-content;
}