#photos {
  line-height: 0;
  column-count: 5;
  column-gap: 5px;
}

#photos img {
  width: 100%;
  height: auto;
  transition: all .5s ease-in-out;
  margin-top: 5px;
}

#photos img:hover {
  transform: scale(1.25);
  transform-origin: top right;
  border-radius: 2px;
  position: relative;
  z-index: 2;
}

#photos[data-viewing] img {
  display: none;
}

div.full {
  position: relative;
}

div.full img {
  max-width: 100%;
}

div.full .prev {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
}

div.full .next {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
}

div.full a:hover {
  background-color: black;
  opacity: 0.5;
}

div.full a:hover::after {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.next:hover::after {
  content: ">";
}

.prev:hover::after {
  content: "<";
}

@media (max-width: 1200px) {
  #photos {
    column-count: 4;
  }
}
@media (max-width: 1000px) {
  #photos {
    column-count: 3;
  }
}
@media (max-width: 800px) {
  #photos {
    column-count: 2;
  }
}
@media (max-width: 400px) {
  #photos {
    column-count: 1;
  }
}