header {
  padding: 20px;
}

.top-nav {
  display: none;
  position: relative;
}

h1 {
  line-height: 1.25;
}

h1 strong {
  font-size: 50%;
  display: block;
  text-transform: uppercase;
}

ul {
  list-style: none;
  padding: 0;
}

ul a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

ul a:visited {
  color: var(--classic-olive);
}

ul a:hover {
  color: var(--turmeric);
}

@media (max-width: 800px) {
  header {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .left-nav {
    display: none;
  }

  .top-nav {
    display: inline;
    text-align: right;
  }
}

button.menu {
  background-color: transparent;
  border: none;
  color: var(--turmeric);
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.25s linear;
}

.top-nav.open button.menu {
  transform: rotate(90deg);
}

.top-nav ul {
  position: absolute;
  margin: 0;
  right: 0;
  height: 0;
  transform: scaleY(0);
  transition: all 0.25s ease-out;
  padding: 0.5rem 0;
  z-index: 3;
  background-color: white;
  filter: invert(1);
  border-radius: 3px;
}

.top-nav.open ul {
  transform: scaleY(1);
  height: auto;
}

.top-nav ul li {
  padding: 0 1rem;
}

.top-nav ul li:hover {
  background-color: lavender;
}

.top-nav ul li a {
  font-size: 1rem;
}
