header {
  padding: 20px;
}

h1 {
  text-align: center;
  line-height: 1.25;
}

h1 strong {
  font-size: 40%;
  display: block;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

ul a:visited {
  color: var(--classic-olive);
}

ul a:hover {
  color: var(--turmeric);
}
