/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --classic-olive: #75773C;
  --turmeric: #F0CA28;
  --denim: #1A2930;
  --marigold: #F7CE3E;
  --forest: #015249;
  --apricot: #f7882f;
  --khaki: #A6A27C;
  --cream: #FFFEF2;
  --beige: #F3F0CE;
  --purp: #4e4369;
  --light-purp: #D8CEF2;
  --light-shades: #faf9f9;
  --light-accent: #98948a;
  --main-brand: #896795;
  --dark-accent: #7b6f83;
  --dark-shades: #221f26;
  --red: #ca4b60;
  --woody: #896c24;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
  background-color: var(--light-shades);
  color: var(--dark-shades);
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.bg-denim {
  background-color: var(--denim);
}

.bg-purp {
  background-color: var(--purp);
}

.bg-light-purp {
  background-color: var(--light-purp);
}

.bg-beige {
  background-color: var(--beige);
}

.bg-cream {
  background-color: var(--cream);
}

.bg-khaki {
  background-color: var(--khaki);
}

.bg-dark-shades {
  background-color: var(--dark-shades);
}

.bg-main-brand {
  background-color: var(--main-brand);
}

.bg-dark-accent {
  background-color: var(--dark-accent);
}

button.iconic {
  background-color: transparent;
  border: 2px solid var(--light-shades);
  color: var(--light-shades);
  border-radius: 5px;
  margin-bottom: 0.25rem;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.nav-controls button:first-child {
  margin-bottom: 2rem;
}

button.iconic:hover {
  box-shadow: 0 0 1rem 1rem var(--main-brand) inset;
}

button.iconic svg {
  width: 1rem;
}

.graph-paper {
  background-color: #7b6f83;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2398948a' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
  -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
   width: 15rem;
}

/* Removes default focus */
input[type="range"]:focus {
 outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: var(--light-shades);
  border-radius: 0.5rem;
  height: 0.5rem;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
 -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -0.5rem; /* Centers thumb on the track */

  /*custom styles*/
  background-color: var(--main-brand);
  height: 1.5rem;
  width: 1rem;
  border-radius: 25%;
}

input[type="range"]:focus::-webkit-slider-thumb {   
  filter: brightness(1.2);
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: var(--light-shades);
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/

  /*custom styles*/
  background-color: var(--main-brand);
  height: 1.5rem;
  width: 1rem;
  border-radius: 25%;
}

input[type="range"]:focus::-moz-range-thumb {
  filter: brightness(1.2);
}
