/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --classic-olive: #75773C;
  --turmeric: #F0CA28;
  --denim: #1A2930;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.bg-denim {
  background-color: var(--denim);
}