/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --classic-olive: #75773C;
  --turmeric: #F0CA28;
  --denim: #1A2930;
  --marigold: #F7CE3E;
  --forest: #015249;
  --apricot: #f7882f;
  --khaki: #A6A27C;
  --cream: #FFFEF2;
  --beige: #F3F0CE;
  --purp: #4e4369;
  --light-purp: #D8CEF2;
  --light-shades: #faf9f9;
  --light-accent: #98948a;
  --main-brand: #896795;
  --dark-accent: #7b6f83;
  --dark-shades: #221f26;
  --woody: #896c24;
}

body {
  font-family: 'Hind Siliguri', sans-serif;
  background-color: var(--light-shades);
  color: var(--dark-shades);
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.bg-denim {
  background-color: var(--denim);
}

.bg-purp {
  background-color: var(--purp);
}

.bg-light-purp {
  background-color: var(--light-purp);
}

.bg-beige {
  background-color: var(--beige);
}

.bg-cream {
  background-color: var(--cream);
}

.bg-khaki {
  background-color: var(--khaki);
}

.bg-dark-shades {
  background-color: var(--dark-shades);
}

.bg-main-brand {
  background-color: var(--main-brand);
}

.bg-dark-accent {
  background-color: var(--dark-accent);
}

button.iconic {
  background-color: transparent;
  border: 2px solid var(--light-shades);
  color: var(--light-shades);
  border-radius: 5px;
  margin-bottom: 0.25rem;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.nav-controls button:first-child {
  margin-bottom: 2rem;
}

button.iconic:hover {
  box-shadow: 0 0 1rem 1rem var(--main-brand) inset;
}

button.iconic svg {
  width: 1rem;
}